* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.inter-uniquifier {
  font-family: "Inter", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
    background-color: #F5F5F7;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    width: 100%;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;

    .logo {

        font-weight: 900;
        color: #5847D1;
        font-size: 24px;
        text-decoration: none;
        padding: 10px 20px;
    }

    .menu a {

        display: inline-block;
        font-weight: 900;
        text-decoration: none;
        color: #000000;
        font-size: 22px;
        padding: 10px;

    }
}

/* HERO */
.hero {
    width: 100%;
    height: 350px;
    background-image: url(./assets/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    h1 {

        font-size: 48px;
        font-weight: 700;
        font-style: 900;
    }

    p {
        font-weight: 500;
        font-style: 400;
        font-size: 20px;
        margin-top: 10px;
    }
}

/* BLOG */
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;


    .section-title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }

    /* CARDS */
    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        justify-content: center;
        gap: 16px;

        .card-group {
            background: #fff;
            position: relative;
            width: 320px;
            min-height: 520px;

        }

        .card-img {
            width: 320px;
            height: 240px;
            object-fit: cover;
            display: block;
        }

        .card-content {

            width: 100%;
            color: #FFFFFF;
            position: absolute;
            top: 240px;
            box-sizing: border-box;
            padding: 10px;
        }

        span {
            display: inline-block;
            text-align: center;
            font-weight: normal;
            font-size: 15px;
            color: #000000;
            padding: 10px;
            line-height: 1;
            letter-spacing: 0;
        }

        h3 {

            width: 100%;
            height: 70px;
            font-size: 22px;
            font-weight: 700;
            color: #000000;
            margin: 0 auto;
        }

        .card-desc {

            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: #000000;
            line-height: 1.4;
            margin: 0;
        }

    }

    /* COLORS */
    .purple {
        background: #C7B8FF;
    }

    .pink {
        background: #FFB8D8;
    }

    .blue {
        background: #B8E0FF;
    }

    .green {
        background: #D4FFB8;
    }

    .yellow {
        background: #FFE4B8;
    }

    .orange {
        background: #FFD4B8;
    }
}


/* Footer */

.info {
    background-color: #1f1f1f;
    color: #ffffff;

}

.info-container {
    max-width: 100%;
    height: 250px;
    margin: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;


    .info-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            text-align: left;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            padding: 10px;

        }

        p {
            max-width: 280px;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: #bdbdbd;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
        }

        #contacts {
            text-align: left;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.6;
            margin-top: 30px;
        }


        #category {

            color: #FFFFFF;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.6;

        }
    }
}

.info-list {

    font-size: 15px;
    color: #bdbdbd;
    line-height: 1.6;
    list-style: none;
}


.rights {
    background-color: #000;
    text-align: center;
    padding: 16px 0;
    font-size: 15px;
    color: #9e9e9e;
}