* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.general {
    background-color: #F5F5F7;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
}

/* HEADER */
header {
    width: 100%;
    padding: 20px;
    background: #fff;
    text-align: center;

    >a {

        font-weight: 700;
        color: #5847D1;
        font-size: 24px;
        padding: 10px;
        margin-right: 40px;
    }

    nav {

        display: inline-block;
        margin-left: 40px;

        ul {
            li {
                display: inline;


                a {
                    font-weight: 700;
                    color: #000000;
                    font-size: 22px;
                    padding: 10px;
                }
            }
        }
    }
}

/* HERO */
.hero {
    width: 100%;
    height: 400px;
    background-image: url(./assets/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.hero h1 {

    display: inline-block;
    text-align: center;
    width: 975px;
    height: 53px;
    font-size: 48px;
    font-weight: 700;
    font-style: 900;
    padding: 80px;
    line-height: 100%;
    letter-spacing: 0%;
}

.hero p {
    display: inline-block;
    text-align: center;
    width: 641px;
    height: 24px;
    font-weight: 500;
    font-style: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px;
    margin: 0;

}


/* Section  */

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}

/* CARDS */
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 16px;
}

.card-group {
    background: #fff;
    position: relative;
    width: 320px;
    min-height: 520px;

}

.card-img {
    box-sizing: border-box;
    width: 320px;
    height: 240px;

}

.card-content {
    box-sizing: border-box;
    width: 322px;
    height: 200px;
    color: #FFFFFF;
    position: absolute;
    padding: 10px;
}

.card-content span {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin: 0 40px 0 0;
    line-height: 100%;

}

.card-content h3 {

    width: 100%;
    height: 70px;
    font-size: 22px;
    font-weight: 700;
    color: #000000;

}

.card-desc {

    text-align: left;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 1.4;
    margin: 0;
}



/* COLORS */
.purple {
    background: #C7B8FF;
}

.pink {
    background: #FFB8D8;
}

.blue {
    background: #B8E0FF;
}

.green {
    background: #D4FFB8;
}

.yellow {
    background: #FFE4B8;
}

.orange {
    background: #FFD4B8;
}


/* Footer */

.info {

    background-color: #1f1f1f;
    width: 100%;
    height: 300px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
}

.info-techblog {
    display: inline-block;
    width: 91px;
    height: 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.info p {
    display: inline-block;
    width: 296px;
    height: 68px;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 1.;
    margin: 10px;
}


.contacts {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    padding: 10px;

}

.cont-list {
    display: inline-block;
    width: 165px;
    height: 45px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 1.6;

}

.category {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;

}

.category-list {
    display: inline-block;
    width: 181px;
    height: 101px;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 1.6;

}

.rights {
    background-color: #020202;
    text-align: center;
    height: 55px;
    padding: 16px 0;
    font-size: 15px;
    color: #86868B;

}